In [1]:
import pandas as pd

In [2]:
#使用Python字典数据，创建一个采用默认索引的Pandas数据框。
d = {'国家': ['中国', '美国', '日本'],
     '人口': [14.22, 3.18, 1.29]}

df = pd.DataFrame(d)

df

   国家     人口
0  中国  14.22
1  美国   3.18
2  日本   1.29

In [3]:
#使用Python字典数据，创建一个自定义索引的Pandas数据框。
df = pd.DataFrame(d, index=['a', 'b', 'c'])

df

   国家     人口
a  中国  14.22
b  美国   3.18
c  日本   1.29

In [4]:
#使用多个不同索引的Pandas序列，创建一个Pandas数据框。
d = {'one': pd.Series(['a', 'b', 'c'], index=[1, 2, 3]),
     'two': pd.Series(['a', 'b', 'c', 'd'], index=[1, 2, 3, 4])}

df = pd.DataFrame(d)

df

   one two
1    a   a
2    b   b
3    c   c
4  NaN   d