In [1]:
import pandas as pd

In [2]:
#使用字典创建一个DataFrame。
d = {'国家': ['中国', '美国', '日本', '俄罗斯', '英国'],
     '人口': [14.22, 3.18, 1.29, 1.4, 0.66]}

df = pd.DataFrame(d, index=['a', 'b', 'c', 'd', 'e'])

df

    国家     人口
a   中国  14.22
b   美国   3.18
c   日本   1.29
d  俄罗斯   1.40
e   英国   0.66

In [3]:
#选择指定列名的数据。
df['国家']

a     中国
b     美国
c     日本
d    俄罗斯
e     英国
Name: 国家, dtype: object

In [4]:
#选择多列数据。
df[['国家', '人口']]

    国家     人口
a   中国  14.22
b   美国   3.18
c   日本   1.29
d  俄罗斯   1.40
e   英国   0.66

In [5]:
#利用索引，选择某一行数据。
df.loc['c']

国家      日本
人口    1.29
Name: c, dtype: object

In [6]:
#利用多个索引，选择多行数据。
df.loc[['c', 'd']]

    国家    人口
c   日本  1.29
d  俄罗斯  1.40

In [7]:
#类似列表切片，选择多行数据的另一种方式。
df[0:3]

   国家     人口
a  中国  14.22
b  美国   3.18
c  日本   1.29