In [1]:
import pandas as pd

In [2]:
#读取iris数据集，存入变量df。
df = pd.read_json('../datasets/iris/iris.json')

df

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [3]:
#计算某一列的平均值。
df['sepalLength'].mean()

5.843333333333335

In [4]:
#统计某一列的数据分布。
df['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [5]:
#分析列数据之间的相关性。
df.corr()

             sepalLength  sepalWidth  petalLength  petalWidth
sepalLength     1.000000   -0.117570     0.871754    0.817941
sepalWidth     -0.117570    1.000000    -0.428440   -0.366126
petalLength     0.871754   -0.428440     1.000000    0.962865
petalWidth      0.817941   -0.366126     0.962865    1.000000