In [1]:
import pandas as pd

In [2]:
#使用字典创建一个DataFrame。
d = {'国家': ['中国', '美国', '日本'],
     '人口': [14.22, 3.18, 1.29]}

df = pd.DataFrame(d)

df

   国家     人口
0  中国  14.22
1  美国   3.18
2  日本   1.29

In [3]:
#利用索引，添加一行数据。
df.loc[3] = {'国家': '俄罗斯', '人口': 1.4}

df

    国家     人口
0   中国  14.22
1   美国   3.18
2   日本   1.29
3  俄罗斯   1.40

In [4]:
#创建另一个DataFrame。
df2 = pd.DataFrame({'国家': ['英国', '德国'],
     '人口': [0.66, 0.82]})

#利用DataFrame的内建函数append，追加一个DataFrame（多条数据）。
new_df = df.append(df2)

new_df

    国家     人口
0   中国  14.22
1   美国   3.18
2   日本   1.29
3  俄罗斯   1.40
0   英国   0.66
1   德国   0.82

In [5]:
#使用pandas的concat功能，拼接两个DataFrame，同时重置索引。
new_df = pd.concat([df, df2], ignore_index=True)

new_df

    国家     人口
0   中国  14.22
1   美国   3.18
2   日本   1.29
3  俄罗斯   1.40
4   英国   0.66
5   德国   0.82