In [1]:
import pandas as pd

In [2]:
#使用字典创建一个DataFrame。
d = {'国家': ['中国', '美国', '日本'],
     '人口': [14.22, 3.18, 2.29],
      '国土面积': [0, 0, 0]}

df = pd.DataFrame(d)

df

   国家     人口  国土面积
0  中国  14.22     0
1  美国   3.18     0
2  日本   2.29     0

In [3]:
#通过行索引、列名称，锁定并修改某元素值。
df.loc[2, '人口'] = 1.29

df

   国家     人口  国土面积
0  中国  14.22     0
1  美国   3.18     0
2  日本   1.29     0

In [4]:
#修改整列。
df.loc[:, '国土面积'] = [960, 937, 37]

df

   国家     人口  国土面积
0  中国  14.22   960
1  美国   3.18   937
2  日本   1.29    37

In [5]:
#修改整行。
df.loc[1] = ['俄罗斯', 1.4, 1709]

df

    国家     人口  国土面积
0   中国  14.22   960
1  俄罗斯   1.40  1709
2   日本   1.29    37