In [1]:
import pandas as pd


df = pd.read_csv('../datasets/titanic/train.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [2]:
#依据性别分组，并分别进行幸存者人数统计。
df.groupby('Sex').agg({'Survived': sum})

        Survived
Sex
female       233
male         109

In [3]:
#依据是否生还分组，并分别统计平均年龄。
df.groupby('Survived').agg({'Age':'mean'})

                Age
Survived
0         30.626179
1         28.343690