In [1]:
import pandas as pd

In [2]:
#使用字典创建一个DataFrame。
d = {'国家': ['中国', '美国', '日本'],
     '人口': [14.22, 3.18, 1.29]}

df = pd.DataFrame(d)

df

   国家     人口
0  中国  14.22
1  美国   3.18
2  日本   1.29

In [3]:
#创建一个新列，并使用序列赋值。
df['国土面积'] = pd.Series([960, 937, 37])

df

   国家     人口  国土面积
0  中国  14.22   960
1  美国   3.18   937
2  日本   1.29    37

In [4]:
#使用DataFrame内建的函数assign创建一个新列，同时赋值。
df = df.assign(GDP=[14.28, 21.43, 5.06])

df

   国家     人口  国土面积  GDP
0  中国  14.22   960    1
1  美国   3.18   937    2
2  日本   1.29    37    3