In [1]:
import pandas as pd

In [2]:
#使用字典创建一个DataFrame。
d = {'国家': ['中国', '美国', '日本'],
     '人口': [14.22, 3.18, 1.29]}

df = pd.DataFrame(d)

df

   国家     人口
0  中国  14.22
1  美国   3.18
2  日本   1.29

In [3]:
#删除对应索引的多个行。
df.drop([0,1])

   国家    人口
2  日本  1.29

In [4]:
#删除对应名称的整列。
df.drop(columns='国家')

      人口
0  14.22
1   3.18
2   1.29